---
import Particles from "../components/Particles.astro";
---

<footer class="flex-column">
  <Particles zIndex={0} />

  <img src="/img/logo.jpg" alt="logo" />
  <h3>AC FRIOSYSTEM S.A.S</h3>

  <div class="contact-info">
    <p>Calle 7 # 23a - 29, Neiva, Colombia</p>
    <p>+57 310 7751017</p>
    <p>friosystemneiva@gmail.com</p>
  </div>

  <div class="flex-row follow">
    <a
      href="https://wa.me/573107751017"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="WhatsApp"
    ><i class="bi bi-whatsapp"></i></a>
    <a
      href="https://www.instagram.com/ac_friosystem_sas"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    ><i class="bi bi-instagram"></i></a>
    <a
      href="https://www.facebook.com/aireacondicionadoneiva"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook"
    ><i class="bi bi-facebook"></i></a>
    <a
      href="https://www.tiktok.com/@friosystem"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="TikTok"
    ><i class="bi bi-tiktok"></i></a>
  </div>

  <code>© copyright 2025 By MacV</code>
</footer>

<style>
  footer {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    color: var(--clr-white);
    padding-bottom: 50px;
    background-image: url("/img/hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5); /* overlay sobre background-image */
    background-size: cover;
    z-index: 0;
  }

  footer > *:not(.snow-particles) {
    position: relative;
    z-index: 1;
  }

  img {
    background-color: var(--clr-dark);
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: -5px;
    border-radius: 10px;
  }

  .contact-info p {
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
    justify-content: center;
  }

  .contact-info p i {
    margin-right: 10px;
  }

  .follow {
    gap: 0px;
    border: solid 1px #ffffff5a;
    padding: 0px 0px;
    border-radius: 50px;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }

  .follow i {
    font-size: 26px;
    color: var(--clr-white);
    padding: 16px 22px;
    transition: var(--transition);
    border-bottom: solid 1px transparent;
  }

  /* HOVER */
  @media (hover: hover) {
    .follow i:hover {
      color: var(--clr-white);
      background-color: var(--footer-hover-bg);
    }
  }
</style>
